

@{
    ViewData["Title"] = "Reset Password Confirmation";
}
<h1>@ViewData["Title"].</h1>
<p>
    Your Password has been reset<a asp-controller="Account" asp-action="Login">Click here to Login</a>.
</p>
<p>
    RESET_PASSWORD_CONFIRMATION_TEXT1<a asp-controller="Account" asp-action="Login">RESET_PASSWORD_CONFIRMATION_CLICK_HERE</a>.
</p>
