

@{
    ViewData["Title"] = "RESET_PASSWORD_CONFIRMATION";
}
<h1>@ViewData["Title"].</h1>
<p>
    RESET_PASSWORD_YOUR_PASSWORD_HAS_BEEN_RESET <a asp-controller="Account" asp-action="Login">RESET_PASSWORD_CLICK_HERE_TO_LOGIN</a>.
</p>
<p>
    RESET_PASSWORD_CONFIRMATION_TEXT1<a asp-controller="Account" asp-action="Login">RESET_PASSWORD_CONFIRMATION_CLICK_HERE</a>.
</p>
