

@{
    ViewData["Title"] = "PERSONAL_DATA";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>PERSONAL_DATA_INFO")</p>
        <p>
            <strong>PERSONAL_DATA_DELETEINFO")</strong>
        </p>
        <form asp-action="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">DOWNLOAD")</button>
        </form>
        <p>
            <a asp-action="DeletePersonalData" class="btn btn-primary">DELETE")</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}